<%- await include('parts/header.ejs', locals) %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<div>
<table id="data-table" class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Content</th>
      <th>Player Name</th>
    </tr>
  </thead>
  <tbody id="data-body"></tbody>
</table>
</div>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const proxyUrl = 'https://cors-anywhere.herokuapp.com/';
  const apiUrl = 'https://circleproject.dev/api/fivemlog?fbclid=IwAR1MlwAq8AA9Trk5OYdNxx_vx3uzCfh98-KcfyllgilajlHqclpbTz7pumA';

  axios.get(proxyUrl + apiUrl, {
    headers: {
      'Authorization': 'Basic dGhlY2lyY2xlZGV2OlRoZWNpcmNsZTExMiFAIw==',
      'X-Requested-With': 'XMLHttpRequest'
    }
  })
    .then(function (response) {
      let data = response.data;
      let dataBody = $('#data-body');

      dataBody.empty();

      data.forEach(function (item) {
        let row = $('<tr>');

        let idCell = $('<td>').text(item.ID);
        row.append(idCell);

        let eventCell = $('<td>').text(item.event);
        row.append(eventCell);

        let contentCell = $('<td>').text(item.content);
        row.append(contentCell);

        let playerNameCell = $('<td>').text(item.player.name);
        row.append(playerNameCell);

        dataBody.append(row);
      });

      $('#data-table').DataTable();
    })
    .catch(function (error) {
      console.error('Error fetching data:', error);
    });
</script>

<%- await include('parts/footer.ejs', locals) %>
